<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Attendance Dashboard</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/form">Register New User</a></li>
                <li><a href="/attendance">Generate Attendance Report</a></li>
                <li><a href="/facial_recognition">Punch Attendance</a></li>
            </ul>
        </nav>
    </div>

    
</body>
</html>
